# development or production
NODE_ENV=

# Discord Application ID(Bot)
DISCORD_APPLICATION_ID=

# Discord GUILD ID(サーバーID)
DISCORD_GUILD_ID=

# Discord Bot
DISCORD_TOKEN=your_discord_bot_token_here

# Discord Channel IDs
DEV_CH_COCKPIT=
DEV_CH_STATUS=
DEV_CH_CLOUD=
DEV_CH_BACKUP=
DEV_CH_ERROR=

PROD_CH_COCKPIT=
PROD_CH_STATUS=
PROD_CH_CLOUD=
PROD_CH_BACKUP=
PROD_CH_ERROR=

# Samba
SAMBA_USER=user
SAMBA_PASSWORD=password

# rclone
RCLONE_CONFIG=/config/rclone/rclone.conf

# restic
RESTIC_PASSWORD=your_restic_password

# Path settings
DATA_CLOUD=/mnt/data/cloud
DATA_LOCAL=/mnt/data/local
DATA_HDD=/mnt/data/hdd
PHOTO_UPLOAD=/mnt/data/cloud/photo
IMMICH_DB=/mnt/data/immich-db