# Discord Bot
DISCORD_TOKEN=your_discord_bot_token_here

# Discord Channel IDs
CH_COCKPIT=
CH_STATUS=
CH_CLOUD=
CH_BACKUP=
CH_ERROR=

# Samba
SAMBA_USER=user
SAMBA_PASSWORD=password

# rclone
RCLONE_CONFIG=/config/rclone/rclone.conf

# restic
RESTIC_PASSWORD=your_restic_password

# Path settings
DATA_CLOUD=/mnt/data/cloud
DATA_LOCAL=/mnt/data/local
DATA_HDD=/mnt/data/hdd
PHOTO_UPLOAD=/mnt/data/cloud/photo
IMMICH_DB=/mnt/data/immich-db